* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 10px;
  min-height: 10px;
  color: @main-fg;
  text-shadow: none;
}

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.18),
    0 1px 2px rgba(0, 0, 0, 0.32);
  color: @main-fg;
  border-radius: 5px;
  border-width: 0px;
}

#workspaces button {
  text-shadow: none;
  padding: 0px;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  color: @main-fg;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 0px;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu {
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-color: @main-bg;
  padding: 0px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.35),
    0 1px 1px rgba(0, 0, 0, 0.52);
}

#tray * {
  border: none;
}

#tray menu menuitem:hover {
  background-color: @wb-act-bg;
}

#tray menu separator {
  background-color: @main-bg;
  min-height: 10px;
}

#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#disk,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-media,
#custom-webcam,
#custom-fprint,
#custom-weather,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
  padding-left: 4px;
  padding-right: 4px;
}

#time-and-sysinfo {
  margin: 0px 4px 4px 8px;
}

#media-and-volume,
#workspaces-and-privacy,
#misc {
  margin: 0px 4px 4px 4px;
}

#tray-and-battery {
  margin: 0px 8px 4px 4px;
}

#media-and-volume,
#time-and-sysinfo,
#media-and-volume,
#workspaces-and-privacy,
#misc,
#tray-and-battery {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.28),
    0 1px 2px rgba(0, 0, 0, 0.42);
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#privacy-item {
  margin-left: 4px;
}
